* {
box-sizing: border-box; 
margin: 0; 
padding: 0;
}

html{
    height: 100%; 
} 

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

body {
    background-color:  rgba(167, 198, 255, 0.596);
}