:root{
    --blackTabColor: rgba(22, 20, 20, 0.87); 
    --blueBoxColor: rgb(78, 191, 243);
    --linkSize: 30px; /* I'll eventually make a variable to combine link font color and size. Once I have a set established. */
}


/* header section */

header{
    background-color: var(--blackTabColor);
    padding: 20px;
    display: flex;
    justify-content: space-between;    
}

header h1{
    color: var(--blackTabColor);
    opacity: 0.8;
    background-color: var(--blueBoxColor);
    border-radius: 20px;
}

header nav {
    display:flex;
    
    margin-right: 20px;
    font-size: 20px;
    margin-left: 15px;    
    border-style: dotted;
    border-color: green;
}



header nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 8px 5px 8px;

    border-style: solid;
    border-width: 3px;
    border-radius: 6px;

    margin: 5px;
}

header nav ul li a{
    color: orange;
    font-size: var(--linkSize);
}

/* Body modifications */ 

#banner {
    border-style: dashed;
    border-color: goldenrod;
    margin-bottom: 15px;
    height: 200px; 
}

.container {
    border-style: dashed;
    border-color: blue;
    display: flex;
    justify-content: space-evenly;
    height: 400px
}

.Category{
    border-style: dashed;
    border-color: red;
    border-radius: 20px;
    width: 600px;
}

#aboutMe {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    border-style: dashed;
    border-color: red;
    height: 200px;
}

/* footer section */

footer{
    display: flex;
    justify-content: center;
    height: 200px;
    border-style: dashed;
    border-color: red;
}

footer ul{
    display: flex;
    border-style: dotted;
    border-color: green;
}

footer ul li{
    
    display: inline-block;
    padding: 8px;
}

footer a {
    color: var(--topTabColor);
    font-size: var(--linkSize);    
}

footer p {
    font-size: 14px;
}