* { 
    box-sizing: border-box;
}

:root{
    --blackTabColor: rgba(22, 20, 20, 0.87); 
    --blueBoxColor: rgb(78, 191, 243);
    --blueSubHeading: rgba(49, 49, 170, 0.774);
    --whiteFooterText: rgb(250, 243, 243);
    --linkSize: 30px;

}

/* header section */

header{
    background-color: var(--blackTabColor);
    padding: 20px;
    display: flex;
    justify-content: space-between;    
}

header h1{
    color: var(--blackTabColor);
    background-color: var(--blueBoxColor);
}

header nav {
    display:flex;
    
    margin-right: 20px;
    font-size: 20px;
    margin-left: 15px;    
    border-style: dotted;
    border-color: green;
}


header nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 8px 5px 8px;

    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 6px;

    margin: 5px;
}

header nav ul li a{
    color: var(--blueBoxColor);
    font-size: var(--linkSize);
}

/* Banner Section */ 

#banner {
    background-size: cover;
    background-position: center;
    background-image: url("../bannerImage.jpg"); 
    height: 200px; 
    width: 100%;
    border-style: dashed;
    border-color: goldenrod;
    margin-bottom: 15px;
    
}

#quote {
    background-color: rgb(61, 58, 58);
    opacity: 0.8;
    padding: 5px;
    Color: white;
    width: auto;
    height: auto;
    font-size: 36px;
    font-family: "Comic Sans MS","Comic Sans","Cursive";
}

/* About me & Work Sections */

.subHeading {   
    margin: 10px;
    border-style: dashed;
    border-color: orange;
    border-radius: 20px;
    display:flex;
}

.subHeadingTitle {
    border-right: 5px solid;
    border-color: var(--blueSubHeading);
    width: 300px;
    color: var(--blueSubHeading);
    margin-right: 30px;
    font-family: "Palatino", "URW Palladio L", "serif";
}

.aboutMeContainer {
    border-style: dashed;
    border-color: red;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    font-size: 24px;
}

#heyJason {
    border: solid 3px;
    border-radius: 30px;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.548) 6px 6px;
}

/* Work Section */

.projectCardContainer {
    border-style: dashed;
    border-color: red;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap; /* This is needed to prevent the container objects from spilling into the title sections */ 
    justify-content: space-evenly;
    width: 100%;
}

.projectCard {
    border-style: solid;
    border-color: var(--blueBoxColor);
    margin: 5px;
    height: auto;
    width: auto;
}


.projectCardImage { /* Using external links as placeholders for images */
    width: 300px;
    height: 200px;
}


.projectTitle {
    background-color: var(--blueBoxColor);
}


.subHeadingTitle p {
    word-wrap: normal;
    color:rgb(173, 110, 27);
}

/* resume Section  */

.resumeTitle {
    border-style: dashed;
    border-color: red;
    border-radius: 20px;
}

.resumeContainer {
    border-style: dashed;
    border-color: red;
    border-radius: 20px;
    width: 100%;
}

.resumeCard{
    border-style: dashed;
    border-color: green;
    border-radius: 20px;
    width: 100%;
    background-color: white;
    margin: 10px 0px 10px 0px;
}



/* footer section */

footer{
    height: 140px;
    border-style: dashed;
    border-color: red;
    background-color: var(--blackTabColor);
}

footer h2 {
    text-align: center;
    color: var(--whiteFooterText);
}

.footerLinks {
    justify-content: center;
    display: flex;
}

footer ul{
    display: flex;
    border-style: dotted;
    border-color: green;
}

footer ul li{
    display: inline-block;
    padding: 8px;
}

footer a {
    color: var(--topTabColor);
    font-size: var(--linkSize);
    color: var(--whiteFooterText);    
}

footer p {
    font-size: 14px;
}